/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --accent-color: #FF0070;
    --background-color: #000028;
    --title-large-color: #DB00FF;
    --title-color: #FF0070;
    --subtitle-color: #000028;
    --text-color: #F1B2CE;
    --shadow-color: #FF0070;
    --border-color: #FF0070;
    --border-color-alpha40: rgba(255, 0, 112, 0.4);
    --background-image: url('../images/cover-image-dark.png');
    --recorder-status: visible;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #FF0070;
        --background-color: #000028;
        --title-large-color: #DB00FF;
        --title-color: #FF0070;
        --subtitle-color: #000028;
        --text-color: #F1B2CE;
        --shadow-color: #FF0070;
        --border-color: #FF0070;
        --border-color-alpha40: rgba(255, 0, 112, 0.4);
        --background-image: url('../images/cover-image-dark.png');
        --recorder-status: visible;
    }
}
