/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --accent-color: #FF8DCB;
    --background-color: #FFF1F7;
    --title-large-color: #FFC2E6;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --shadow-color: #FF0070;
    --border-color: #353430;
    --border-color-alpha40: rgba(50, 49, 45, 0.4);
    --background-image: url('../images/cover-image-light.png');
    --recorder-status: hidden;
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: #FF8DCB;
        --background-color: #FFF1F7;
        --title-large-color: #FFC2E6;
        --title-color: #353430;
        --subtitle-color: #353430;
        --text-color: #353430;
        --shadow-color: #FF0070;
        --border-color: #353430;
        --border-color-alpha40: rgba(50, 49, 45, 0.4);
        --background-image: url('../images/cover-image-light.png');
        --recorder-status: hidden;
    }
}
