/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --accent-color: #FF0070;
    --background-color: #000028;
    --title-large-color: #DB00FF;
    --title-color: #FF0070;
    --subtitle-color: #000028;
    --text-color: #F1B2CE;
    --shadow-color: #FF0070;
    --border-color: #FF0070;
    --recorder-status: visible;
    --background-image: url("../images/cover-image-dark.png");
    --font-size-title-large: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-default-text: 18px;

/* Под вопросом   */
    --header-min-height: 668px;
    --footer-min-height: 668px;
}